.App {
  text-align: center;
}

body {
  background: grey;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 0;
  margin-top: 0;
  color: white
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: flex-start;
}

.header--box1 {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: none;
}

.header--box2 {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: none;
}

.header--box3 {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: none;
}

.header--box1 h1 {
  color: pink;
}

.header--box2 h1 {
  color: pink;
}

.header--box3 h1 {
  color: pink;
}

a {
  text-decoration: none;
}

