.App {
  text-align: center;
}

body {
  background: beige;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 0;
  margin-top: 0;
  color: white
}

.headerContainer {
<<<<<<< HEAD
  background: #180D01;
=======
  background: grey;
>>>>>>> 8c7dd209dd974c21912cab2653186a18d54efe0b
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: flex-start;
  font-size: 0.5rem;
  
}

<<<<<<< HEAD
.linkContainer {
  display: flex;
  width: 30%;
  margin: 0 auto;
  justify-content: space-between;
}

.header--box1 {
=======
.header--box1 {
  
>>>>>>> 8c7dd209dd974c21912cab2653186a18d54efe0b
  cursor: pointer;
  border: none;
  background-color: none;
}

.header--box2 {
 
  cursor: pointer;
  border: none;
  background-color: none;
}

.header--box3 {
  
  cursor: pointer;
  border: none;
  background-color: none;
}

.header--box1 h1 {
  color: white;
}

.header--box2 h1 {
  color: white;
}

.header--box3 h1 {
  color: white;
}

a {
  text-decoration: none;
}

